<footer class="footer">
  <div class="footer__internal-links">
    <a class="btn btn--link" href="auth.html">Terms and Conditions</a>
    <a class="btn btn--link" href="how-it-works.html">Privacy Policy</a>
    <a class="btn btn--link" href="past-trials.html">Contact Us</a>
  </div>
  <div class="footer__social-networks">
    <span class="footer__social-networks-label">Follow Us</span>
    <span class="btn btn--icon icon-facebook"></span>
    <span class="btn btn--icon icon-twitter"></span>
  </div>
</footer>