@import 'abstracts/mixins';

.footer {
  color: #333333;
  min-height: 5.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  justify-content: center;
  margin-top: 4rem;
  overflow: hidden;
  position: relative;
  @include font-format('sm', 'light');

  &__internal-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    /* Media Queries */
    @include respond-to('sm') {
      flex-direction: row;
      align-items: center;

      .btn:nth-child(n + 2) {
        margin-left: 1.3rem;
      }
    }
  }

  &__social-networks {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    &-label {}

    [class*='icon'] {
      font-size: 2.5rem;
      margin-top: 0.6rem;
    }

    &>*:nth-child(n + 2) {
      margin-left: 2rem;
    }

    /* Media Queries */
    @include respond-to('sm') {
      flex-direction: row;
      margin-top: 0;
    }
  }

  &:before {
    content: "";
    position: absolute;
    border-top: 3px dotted #707070;
    $offset: -0.2rem;
    top: $offset;
    bottom: $offset;
    left: $offset;
    right: $offset;
    z-index: -1;
  }

  /* Media Queries */
  @include respond-to('sm') {
    flex-direction: row;
  }
}