@import '../abstracts/variables';

html,
body {
  background: transparent;
  height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  font-size: $global-font-size; // 1rem = 10px
}

body {
  font-family: 'Lato', Fallback, sans-serif;
}

* {
  box-sizing: border-box;
}