@import 'abstracts/mixins';

#notification-container {
  z-index: 9999;
  position: fixed;
  top: 2rem;
  right: 2rem;  
  >app-alert:nth-child(n + 2) {
    margin-top: 2rem;
  }

  @include respond-to('sm') {
    right: 2rem;
    left: unset;
  }
}