.btn {
  cursor: pointer;
  padding: 1.1rem;
  transition: background 0.3s;

  &--link {

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &--outline {
    min-width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border: 0.1rem solid;
    border-color: inherit;
  }
}