<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/fonts/icons/css/Glyphter.css" />
    <link rel="stylesheet" href="assets/styles/main.css" />
    <title>Layout</title>
  </head>
  <body>
    <nav class="topbar topbar--transparent">
      <h1 class="topbar__title">
        Rule of Thumb.
      </h1>
      <div class="topbar__menu">
        <a class="topbar__btn btn btn--link" href="past-trials.html"
          >Past Trials</a
        >
        <a class="topbar__btn btn btn--link" href="how-it-works.html"
          >How it works</a
        >
        <a class="topbar__btn btn btn--link" href="auth.html">Log In/Sign Up</a>
        <a class="topbar__btn btn btn--icon icon-search"> </a>
      </div>
    </nav>

    <div class="hero">
      <div class="hero__content">
        <div class="opinion-card">
          <div class="opinion-card__content">
            <span class="opinion-card__question">
              What's your opinion on
            </span>
            <h1 class="opinion-card__celebrity">
              Pope Francis?
            </h1>
            <p class="opinion-card__description">
              He’s talking tough on clergy sexual abuse, but is he just another
              papal pervert protector? (thumbs down) or a true pedophile
              punishing pontiff? (thumbs up)
            </p>
            <div class="opinion-card__extra-info">
              <span class="icon-wikipedia"></span>
              <a href="#">More information</a>
            </div>
            <span class="opinion-card__verdict">
              What's your verdict?
            </span>
          </div>
          <div class="opinion-card__actions">
            <div class="btn opinion-card__actions--positive">
              <span class="icon-thumb-up"></span>
            </div>
            <div class="btn opinion-card__actions--negative">
              <span class="icon-thumb-down"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__closing-bar">
        <div class="hero__closing-label">
          CLOSING IN
        </div>
        <div class="hero__closing-time">
          <span class="hero__closing-separator">▶</span>
          <div class="hero__closing-day">
            22
            <span class="hero__closing-period">
              days
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="message">
        <div class="message__title">
          <span>
            Speak out. Be heard.
          </span>
          <br />
          <b>Be counted</b>
        </div>
        <div class="message__description">
          Rule of Thumb is a crowd sourced court of public opinion where anyone
          and everyone can speak out and speak freely. It’s easy: You share your
          opinion, we analyze and put the data in a public report.
        </div>
        <div class="icon-cancel"></div>
      </div>

      <div class="list">
        <h1 class="list__title">Previous Rulings</h1>
        <div class="list__gallery">
          <!-- Kanye -->
          <div
            class="list__item voting-card"
            style="background-image: url('assets/imgs/kanye.jpg');"
          >
            <div class="voting-card__info">
              <h1 class="voting-card__celebrity">
                <div
                  class="voting-card__overall voting-card__overall--positive"
                >
                  <span class="icon-thumb-up"></span>
                </div>
                Kanye West
              </h1>
              <span class="voting-card__description">
                Vestibulum diam ante, porttitor a odio eget, rhoncus neque.
                Aenean eu velit libero.
              </span>
              <div class="voting-card__extra">
                <button class="btn btn--outline voting-card__report-btn">
                  View Full Report
                </button>
                <div class="voting-card__period">
                  <b>1 month ago</b>
                  <br />
                  in Entertainment
                </div>
              </div>
            </div>
            <div class="voting-card__counter">
              <div class="voting-card__positive-votes" style="width: 64%;">
                <span class="icon-thumb-up"></span> 64%
              </div>
              <div class="voting-card__negative-votes" style="width: 36%;">
                36% <span class="icon-thumb-down"></span>
              </div>
            </div>
          </div>

          <!-- Mark -->
          <div
            class="list__item voting-card"
            style="background-image: url('assets/imgs/mark.jpg');"
          >
            <div class="voting-card__info">
              <h1 class="voting-card__celebrity">
                <div
                  class="voting-card__overall voting-card__overall--negative"
                >
                  <span class="icon-thumb-down"></span>
                </div>
                Mark Zuckerberg
              </h1>
              <span class="voting-card__description">
                Vestibulum diam ante, porttitor a odio eget, rhoncus neque.
                Aenean eu velit libero.
              </span>
              <div class="voting-card__extra">
                <button class="btn btn--outline voting-card__report-btn">
                  View Full Report
                </button>
                <div class="voting-card__period">
                  <b>1 month ago</b>
                  <br />
                  in Business
                </div>
              </div>
            </div>
            <div class="voting-card__counter">
              <div class="voting-card__positive-votes" style="width: 36%;">
                <span class="icon-thumb-up"></span> 36%
              </div>
              <div class="voting-card__negative-votes" style="width: 64%;">
                64% <span class="icon-thumb-down"></span>
              </div>
            </div>
          </div>

          <!-- Cristina -->
          <div
            class="list__item voting-card"
            style="background-image: url('assets/imgs/cristina.jpg');"
          >
            <div class="voting-card__info">
              <h1 class="voting-card__celebrity">
                <div
                  class="voting-card__overall voting-card__overall--negative"
                >
                  <span class="icon-thumb-down"></span>
                </div>
                Cristina Fernández de Kirchner
              </h1>
              <span class="voting-card__description">
                Vestibulum diam ante, porttitor a odio eget, rhoncus neque.
                Aenean eu velit libero.
              </span>
              <div class="voting-card__extra">
                <button class="btn btn--outline voting-card__report-btn">
                  View Full Report
                </button>
                <div class="voting-card__period">
                  <b>1 month ago</b>
                  <br />
                  in Politics
                </div>
              </div>
            </div>
            <div class="voting-card__counter">
              <div class="voting-card__positive-votes" style="width: 36%;">
                <span class="icon-thumb-up"></span> 36%
              </div>
              <div class="voting-card__negative-votes" style="width: 64%;">
                64% <span class="icon-thumb-down"></span>
              </div>
            </div>
          </div>

          <!-- Malala -->
          <div
            class="list__item voting-card"
            style="background-image: url('assets/imgs/malala.jpg');"
          >
            <div class="voting-card__info">
              <h1 class="voting-card__celebrity">
                <div
                  class="voting-card__overall voting-card__overall--positive"
                >
                  <span class="icon-thumb-up"></span>
                </div>
                Malala Yousafzai
              </h1>
              <span class="voting-card__description">
                Vestibulum diam ante, porttitor a odio eget, rhoncus neque.
                Aenean eu velit libero.
              </span>
              <div class="voting-card__extra">
                <button class="btn btn--outline voting-card__report-btn">
                  View Full Report
                </button>
                <div class="voting-card__period">
                  <b>1 month ago</b>
                  <br />
                  in Entertainment
                </div>
              </div>
            </div>
            <div class="voting-card__counter">
              <div class="voting-card__positive-votes" style="width: 64%;">
                <span class="icon-thumb-up"></span> 64%
              </div>
              <div class="voting-card__negative-votes" style="width: 36%;">
                36% <span class="icon-thumb-down"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="add-celebrity">
        <span class="add-celebrity__message">
          Is there anyone else you would want us to add?
        </span>
        <button class="btn btn--outline add-celebrity__submit">
          Submit a Name
        </button>
      </div>

      <footer class="footer">
        <div class="footer__internal-links">
          <a class="btn btn--link" href="auth.html">Terms and Conditions</a>
          <a class="btn btn--link" href="how-it-works.html">Privacy Policy</a>
          <a class="btn btn--link" href="past-trials.html">Contact Us</a>
        </div>
        <div class="footer__social-networks">
          <span class="footer__social-networks-label">Follow Us</span>
          <span class="btn btn--icon icon-facebook"></span>
          <span class="btn btn--icon icon-twitter"></span>
        </div>
      </footer>
    </div>
  </body>
</html>
