<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/styles/main.css" />
    <title>Layout</title>
  </head>
  <body>
    <nav class="topbar topbar--transparent">
      <h1 class="topbar__title">
        Rule of Thumb.
      </h1>
      <div class="topbar__menu">
        <a class="topbar__btn btn btn--link" href="past-trials.html"
          >Past Trials</a
        >
        <a class="topbar__btn btn btn--link" href="how-it-works.html"
          >How it works</a
        >
        <a class="topbar__btn btn btn--link" href="auth.html">Log In/Sign Up</a>
      </div>
    </nav>
    <div class="hero">
      <div class="hero__content">
        <div class="opinion-card">
          <div class="opinion-card__content">
            <span class="opinion-card__question">
              What's your opinion on?
            </span>
            <h1 class="opinion-card__celebrity">
              Pope Francis?
            </h1>
          </div>
        </div>
      </div>
      <div class="hero__closing-bar">
        <div class="hero__closing-label">
          CLOSING IN
        </div>
        <div class="hero__closing-time">
          <span class="hero__closing-separator">▶</span>
          <div class="hero__closing-day">
            22
            <span class="hero__closing-period">
              days
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
