<div class="hero">
  <div class="hero__content">
    <app-opinion-card></app-opinion-card>
  </div>
  <div class="hero__closing-bar">
    <div class="hero__closing-label">
      CLOSING IN
    </div>
    <div class="hero__closing-time">
      <span class="hero__closing-separator">
        <span class="icon-right-arrow"></span>
      </span>
      <div class="hero__closing-day">
        22
        <span class="hero__closing-period">
          days
        </span>
      </div>
    </div>
  </div>
</div>