<div class="hero">
  <div class="hero__content">
    <div class="opinion-card">
      <div class="opinion-card__content">
        <span class="opinion-card__question">
          What's your opinion on
        </span>
        <h1 class="opinion-card__celebrity">
          Pope Francis?
        </h1>
        <p class="opinion-card__description">
          He’s talking tough on clergy sexual abuse, but is he just another
          papal pervert protector? (thumbs down) or a true pedophile
          punishing pontiff? (thumbs up)
        </p>
        <div class="opinion-card__extra-info">
          <span class="icon-wikipedia"></span>
          <a href="#">More information</a>
        </div>
        <span class="opinion-card__verdict">
          What's your verdict?
        </span>
      </div>
      <div class="opinion-card__actions">
        <div class="btn opinion-card__actions--positive">
          <span class="icon-thumb-up"></span>
        </div>
        <div class="btn opinion-card__actions--negative">
          <span class="icon-thumb-down"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="hero__closing-bar">
    <div class="hero__closing-label">
      CLOSING IN
    </div>
    <div class="hero__closing-time">
      <span class="hero__closing-separator">
        <span class="icon-right-arrow"></span>
      </span>
      <div class="hero__closing-day">
        22
        <span class="hero__closing-period">
          days
        </span>
      </div>
    </div>
  </div>
</div>