@import 'abstracts/mixins';

:host {
  background: inherit;
}

.opinion-card {
  position: relative;
  background: inherit;
  max-width: 50rem;
  width: 100%;
  margin: auto;

  &__verdict {
    margin-top: 4rem;
    font-size: 2rem;
    @include font-format('md');
    font-weight: map-get($font-weights, 'bold');
    position: relative;

    /* Media Queries */
    @include respond-to('sm') {
      font-size: 2rem;
    }
  }

  &__extra-info {
    font-size: 1.4rem;
    font-weight: map-get($font-weights, 'light');
    position: relative;
    display: flex;

    a {
      text-decoration: underline;
    }

    [class*='icon'] {
      font-size: 1.8rem;
      margin-top: 0.09rem;
      margin-right: 0.5rem;
    }
  }

  &__description {
    font-size: 2.1rem;
    font-weight: map-get($font-weights, 'light');
    margin-top: 1.8rem;
    line-height: 2.1rem;
    position: relative;
    word-spacing: .4rem;
  }

  &__content {
    overflow: hidden;
    color: white;
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background: inherit;
    z-index: 1;

    &:before {
      content: '';
      background: inherit;
      position: absolute;
      $offset: -7rem;
      left: $offset;
      top: $offset;
      bottom: $offset;
      right: $offset;
      box-shadow: inset 0 0 0 3000px rgba(#333333, 0.5);
      filter: blur(3rem);
    }

    /* Media Queries */
    @include respond-to('sm') {
      font-size: 2rem;
      padding: 3rem 6rem 3rem 3rem;
    }
  }

  &__question {
    @include font-format('md', 'light');
    position: relative;
  }

  &__celebrity {
    @include font-format('xl');
    color: white;
    position: relative;

    /* Media Queries */
    @include respond-to('sm') {
      font-size: 6rem;
    }
  }

  &__actions {
    display: flex;
    height: 6rem;
    color: white;
    font-size: 2.4rem;

    &--positive {
      $bg-color: map-get($colors, 'success');
      background-color: rgba($bg-color, 0.9);

      &:hover,
      &:focus {
        background-color: lighten($bg-color, 5%)
      }
    }

    &--negative {
      $bg-color: map-get($colors, 'warning');
      background-color: rgba($bg-color, 0.9);

      &:hover,
      &:focus {
        background-color: lighten($bg-color, 5%)
      }
    }

    &--positive,
    &--negative {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.7rem;
      width: 50%;
    }

    /* Media Queries */
    @include respond-to('sm') {
      height: 8rem;
      font-size: 3.7rem;
    }
  }

  /* Media Queries */
  @include respond-to('sm') {
    margin: unset;
  }
}