<!-- Kanye -->
<div
class="list__item voting-card"
style="background-image: url('assets/imgs/kanye.jpg');"
>
<div class="voting-card__info">
  <h1 class="voting-card__celebrity">
    <div
      class="voting-card__overall voting-card__overall--positive"
    >
      <span class="icon-thumb-up"></span>
    </div>
    Kanye West
  </h1>
  <div class="voting-card__period">
    <b>1 month ago</b> in Entertainment
  </div>
  <span class="voting-card__description">
    Vestibulum diam ante, porttitor a odio eget, rhoncus neque.
    Aenean eu velit libero.
  </span>
  <div class="voting-card__extra">
    <button
      class="btn btn--icon voting-card__vote voting-card__vote--up voting-card__vote--selected"
    >
      <span class="icon-thumb-up"></span>
    </button>
    <button
      class="btn btn--icon voting-card__vote voting-card__vote--down"
    >
      <span class="icon-thumb-down"></span>
    </button>
    <button class="btn btn--outline voting-card__vote-action">
      Vote now
    </button>
  </div>
</div>
<div class="voting-card__counter">
  <div class="voting-card__positive-votes" style="width: 64%;">
    <span class="icon-thumb-up"></span> 64%
  </div>
  <div class="voting-card__negative-votes" style="width: 36%;">
    36% <span class="icon-thumb-down"></span>
  </div>
</div>
</div>