<div
class="voting-card"
[style.background]="'url(' + celebrity.imageUrl + ')'"
>
<div class="voting-card__info">
  <h1 class="voting-card__celebrity">
    <div
      class="voting-card__overall voting-card__overall--positive"
    >
      <span class="icon-thumb-up"></span>
    </div>
    {{ celebrity.fullName }}
  </h1>
  <div class="voting-card__period">
    <b>{{ celebrity.period }}</b> in {{ celebrity.category }}
  </div>
  <span class="voting-card__description">
    {{ celebrity.description }}
  </span>
  <div class="voting-card__extra">
    <button
      class="btn btn--icon voting-card__vote voting-card__vote--up"
      [class.voting-card__vote--selected]="voteTypeSelected === 'positive'"
      (click)="selectVoteType('positive')"
    >
      <span class="icon-thumb-up"></span>
    </button>
    <button
      class="btn btn--icon voting-card__vote voting-card__vote--down"
      [class.voting-card__vote--selected]="voteTypeSelected === 'negative'"
      (click)="selectVoteType('negative')"
    >
      <span class="icon-thumb-down"></span>
    </button>
    <button class="btn btn--outline voting-card__vote-action">
      Vote now
    </button>
  </div>
</div>
<div class="voting-card__counter">
  <div
    class="voting-card__positive-votes" 
    [style.width]="getVotePercentage(true) + '%'">
    <span class="icon-thumb-up"></span> {{ getVotePercentage(true) }}%
  </div>
  <div
    class="voting-card__negative-votes" 
    [style.width]="getVotePercentage() + '%'">
    {{ getVotePercentage() }}% <span class="icon-thumb-down"></span>
  </div>
</div>
</div>