@import '../abstracts/variables';

@mixin font-format($size: 'md', $weight: 'medium') {
  font: {
    size: map-get($font-sizes, $size);
    weight: map-get($font-weights, $weight);
  }
}

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint: map-get($breakpoints, $breakpoint);
  }

  @media screen and (min-width: $breakpoint) {
    @content;
  }
}