.voting-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 55rem;
  color: white;
  position: relative;

  &__info {
    padding: 0 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
  }

  >* {
    position: relative;
    z-index: 1;
  }

  &__overall {
    padding: 0.7rem;
    font-size: 1.8rem;
    width: 3.1rem;
    height: 3.1rem;
    position: absolute;
    left: -4rem;
    bottom: 1rem;

    &--positive {
      background-color: map-get($colors, 'success');
    }

    &--negative {
      background-color: map-get($colors, 'negative');
    }
  }

  &__celebrity {
    font-size: 4.5rem;
    position: relative;
  }

  &__description {
    font-size: 1.6rem;
    margin-top: .5rem;
  }

  &__period {
    font-size: 1.2rem;
    text-align: right;
  }

  &__extra {
    margin-top: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__positive-votes {
    background-color: rgba(map-get($colors, 'success'), .7);
  }

  &__negative-votes {
    text-align: right;
    background-color: rgba(map-get($colors, 'warning'), .7);
  }

  &__positive-votes,
  &__negative-votes {
    padding: 0.9rem 1rem;
  }

  &__counter {
    display: flex;
    width: 100%;
    font-size: 2.914rem;
    font-weight: map-get($font-weights, 'light');
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg,
        rgba(0, 0, 0, 0.71) 0%,
        rgba(0, 0, 0, 0.61) 38%,
        rgba(0, 0, 0, 0) 75%,
        rgba(0, 0, 0, 0) 100%);
  }
}